ul li {
	list-style: armenian;
	text-decoration: none;
	display: inline-block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 100px;
	color: bisque;
	
}
ul li a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:bisque;
	padding: 20px;
}
ul li a:hover{
	color:aquamarine;
}
nav{
	width: 100%;
	height: 100px;
	background-color: darkslategray;
}
h1{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 30px;
	text-decoration: underline;
	
}
html{
	background: url("TBaground.png") no-repeat center fixed;
	background-size: cover;
}
h1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkcyan;
	font-size: 72px;
}
/* Attempting to make something here, not working at all */
section{
	width: 100%;
	height: 100%;
	background-color: black;
	padding: 20px,20,20,20;
	opacity: .4;
}
iframe{
	width: 100%;
	height: 500px;
	resize: both
	
}
p1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	font-size: 16pt;
	padding: 20px,20,20,20;
	opacity: 1;
}